IF DB_ID('MMABooks') IS NOT NULL
	DROP DATABASE MMABooks

CREATE DATABASE MMABooks
GO

USE [MMABooks]
GO
/****** Object:  Table [dbo].[States]    Script Date: 07/08/2010 15:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[States](
	[StateCode] [char](2) NOT NULL,
	[StateName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AK', N'Alaska')
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AL', N'Alabama')
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AR', N'Arkansas')
/****** Object:  Table [dbo].[Products]    Script Date: 07/08/2010 15:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductCode] [char](10) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[OnHandQuantity] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Products] ([ProductCode], [Description], [UnitPrice], [OnHandQuantity]) VALUES (N'A3CS      ', N'Murach''s ASP.NET 3.5 Web Programming with C# 2008', 54.5000, 4637)
INSERT [dbo].[Products] ([ProductCode], [Description], [UnitPrice], [OnHandQuantity]) VALUES (N'A3VB      ', N'Murach''s ASP.NET 3.5 Web Programming with VB 2008', 54.5000, 3974)
INSERT [dbo].[Products] ([ProductCode], [Description], [UnitPrice], [OnHandQuantity]) VALUES (N'ADC3      ', N'Murach''s ADO.NET 3.5, LINQ, and EF with C# 2008', 54.5000, 5244)
/****** Object:  Table [dbo].[OrderOptions]    Script Date: 07/08/2010 15:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderOptions](
	[SalesTaxRate] [decimal](18, 4) NOT NULL,
	[FirstBookShipCharge] [money] NOT NULL,
	[AdditionalBookShipCharge] [money] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[OrderOptions] ([SalesTaxRate], [FirstBookShipCharge], [AdditionalBookShipCharge]) VALUES (CAST(0.0750 AS Decimal(18, 4)), 3.7500, 1.2500)
/****** Object:  Table [dbo].[Customers]    Script Date: 07/08/2010 15:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[State] [char](2) NOT NULL,
	[ZipCode] [char](15) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON
INSERT [dbo].[Customers] ([CustomerID], [Name], [Address], [City], [State], [ZipCode]) VALUES (1, N'Molunguri, A', N'1108 Johanna Bay Drive', N'Birmingham', N'AL', N'35216-6909     ')
INSERT [dbo].[Customers] ([CustomerID], [Name], [Address], [City], [State], [ZipCode]) VALUES (2, N'Muhinyi, Mauda', N'1420 North Charles Street', N'New York', N'NY', N'10044          ')
INSERT [dbo].[Customers] ([CustomerID], [Name], [Address], [City], [State], [ZipCode]) VALUES (3, N'Antony, Abdul', N'1109 Powderhorn Drive', N'Fayetteville', N'NC', N'28314          ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
SET IDENTITY_INSERT [dbo].[Customers] OFF
/****** Object:  Table [dbo].[Invoices]    Script Date: 07/08/2010 15:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[ProductTotal] [money] NOT NULL,
	[SalesTax] [money] NOT NULL,
	[Shipping] [money] NOT NULL,
	[InvoiceTotal] [money] NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON
INSERT [dbo].[Invoices] ([InvoiceID], [CustomerID], [InvoiceDate], [ProductTotal], [SalesTax], [Shipping], [InvoiceTotal]) VALUES (18, 20, CAST(0x00009CFD00000000 AS DateTime), 151.0000, 11.3300, 6.2500, 168.5800)
INSERT [dbo].[Invoices] ([InvoiceID], [CustomerID], [InvoiceDate], [ProductTotal], [SalesTax], [Shipping], [InvoiceTotal]) VALUES (23, 694, CAST(0x00009CFD00000000 AS DateTime), 54.5000, 4.0900, 3.7500, 62.3400)
INSERT [dbo].[Invoices] ([InvoiceID], [CustomerID], [InvoiceDate], [ProductTotal], [SalesTax], [Shipping], [InvoiceTotal]) VALUES (26, 35, CAST(0x00009CFD00000000 AS DateTime), 54.5000, 4.0900, 3.7500, 62.3400)
SET IDENTITY_INSERT [dbo].[Invoices] OFF
/****** Object:  Table [dbo].[InvoiceLineItems]    Script Date: 07/08/2010 15:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InvoiceLineItems](
	[InvoiceID] [int] NOT NULL,
	[ProductCode] [char](10) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ItemTotal] [money] NOT NULL,
 CONSTRAINT [PK_InvoiceLineItems] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC,
	[ProductCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[InvoiceLineItems] ([InvoiceID], [ProductCode], [UnitPrice], [Quantity], [ItemTotal]) VALUES (18, N'A3VB      ', 54.5000, 1, 54.5000)
INSERT [dbo].[InvoiceLineItems] ([InvoiceID], [ProductCode], [UnitPrice], [Quantity], [ItemTotal]) VALUES (18, N'DB1R      ', 42.0000, 1, 42.0000)
INSERT [dbo].[InvoiceLineItems] ([InvoiceID], [ProductCode], [UnitPrice], [Quantity], [ItemTotal]) VALUES (18, N'VB08      ', 54.5000, 1, 54.5000)
/****** Object:  Default [DF_Products_OnHandQuantity]    Script Date: 07/08/2010 15:23:18 ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_OnHandQuantity]  DEFAULT (0) FOR [OnHandQuantity]
GO
/****** Object:  ForeignKey [FK_Customers_States]    Script Date: 07/08/2010 15:23:18 ******/
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_States] FOREIGN KEY([State])
REFERENCES [dbo].[States] ([StateCode])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_States]
GO
/****** Object:  ForeignKey [FK_InvoiceLineItems_Invoices]    Script Date: 07/08/2010 15:23:18 ******/
ALTER TABLE [dbo].[InvoiceLineItems]  WITH NOCHECK ADD  CONSTRAINT [FK_InvoiceLineItems_Invoices] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceLineItems] CHECK CONSTRAINT [FK_InvoiceLineItems_Invoices]
GO
/****** Object:  ForeignKey [FK_InvoiceLineItems_Products]    Script Date: 07/08/2010 15:23:18 ******/
ALTER TABLE [dbo].[InvoiceLineItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceLineItems_Products] FOREIGN KEY([ProductCode])
REFERENCES [dbo].[Products] ([ProductCode])
GO
ALTER TABLE [dbo].[InvoiceLineItems] CHECK CONSTRAINT [FK_InvoiceLineItems_Products]
GO
/****** Object:  ForeignKey [FK_Invoices_Customers]    Script Date: 07/08/2010 15:23:18 ******/
ALTER TABLE [dbo].[Invoices]  WITH NOCHECK ADD  CONSTRAINT [FK_Invoices_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers]
GO
